<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/38e2fcec-e433-4e3a-b831-9dde09f4c55a/resourcegroups/CSharpFinal20220914195504ResourceGroup/providers/Microsoft.Web/sites/CSharpFinal20220914195504</ResourceId>
    <ResourceGroup>CSharpFinal20220914195504ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://csharpfinal20220914195504.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2122d5aa-c44e-4d4a-9b61-0dbd94875c78</ProjectGuid>
    <PublishUrl>https://csharpfinal20220914195504.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CSharpFinal20220914195504</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>